
#project {
  height: 180px;
  width: 100%;
  background: url(img/curved-bg-project.svg) no-repeat center bottom;
  background-size: cover;
}

#project_container {
  width: 100%;
  padding-top: 50px;
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
  color: white;
}

#project_desc {
  padding: 0 15%;
  font-size: 1.15em;
  text-align: center;
}

#people {
  height: 2200px;
  width: 100%;
  background: url(img/curved-bg-2.svg) no-repeat center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#people_container {
  height: auto;
  width: 80%;
  margin: 15% 10%;
  font-size: 1.15em;
  text-align: center;
}

#box_container {
  height: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  color: white;
  font-size: 0.75em;
}

#box_container b {
  font-size: 1.5em;
  padding-bottom: 5px;
}

#box_container .box {
  width: 125px;
  height: 125px;
  padding: 5px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.circle {
  height: 85px;
  width: 85px;
  border-radius: 50%;
  display: inline-block;
}
