* {
  transition: 0.4s;
}

html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0 auto;
  width: 100vw;
  height: 100%;
  background: url(img/background.svg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
}

#top {
  position: absolute;
  display: hidden;
  top: -9vh;
  visibility: none;
}

#header {
  width: 80vw;
  height: 5vh;
  top: 0;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vh 10vw;
  z-index: 1;
  background: white;
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.4);
}

.transparent {
  background-color: transparent !important;
  box-shadow: none !important;
  padding: 5vh 10vw !important;
}

#header a {
  width: 18vw;
  cursor: pointer;
}

#header span {
  width: 3.5vw;
  padding: 10px 0 10px 20px;
  cursor: pointer;
}

#side-menu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  background-color: #493060;
  overflow-x: hidden;
  padding-top: 60px;
}

#side-menu a {
  display: block;
  white-space: nowrap;
  margin: 0 32px;
  padding: 8px 0px;
  border-top: 1px solid white;
  color: white;
  text-decoration: none;
  font-size: 3.5vmax;
}

#side-menu a:hover {
 color: #0098d8;
}

#side-menu .closebtn {
 position: absolute;
 top: 0;
 right: 0;
 border-top: none;
 font-size: 7.5vmax;
 margin: 0 25px;
}

.page {
  width: 80vw;
  height: 81vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 5vh 10vw;
}

#intro {
  margin-top: 15vh !important;
  padding: 0vh 10vw 5vh 10vw !important;
}

#event {
  width: 70vw !important;
  margin-top: 3vh;
  padding: 5vh 15vw !important;
  background-color: rgba(73, 48, 96, 0.9);
  color: white;
}

#event h1 {
  height: 12vh;
  align-self: flex-start;
  margin: 0;
  font-size: 3vmax;
  font-weight: normal;
}

#event h1 font{
  font-size: 5vmax;
  line-height: 100%;
}

#event_vd_container {
  width: 70vw;
  height: 55vh;
}

#event button {
  width: 100%;
  height: 8vh;
  align-self: flex-end;
  border: none;
  border-radius: 10px;
  background-color: #0098d8;
  color: white;
  font-size: 3vmax;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

#actions h1 {
  height: 12vh;
  align-self: flex-start;
  margin: 0 0 0 5vw;
  font-size: 4vmax;
}

#actions h1 font{
  font-size: 6vmax;
  line-height: 100%;
}

.tag {
  width: 80vw;
  height: 15vh;
  display: table;
  cursor: pointer;
  background-color: #493060;
  color: white;
  text-align: center;
  font-size: 3.5vmax;
  font-weight: bold;
}

.tag p, .tag font {
  display: table-cell;
  vertical-align: middle
}

.tag font {
  width: 80vw;
  font-weight: normal;
  font-size: 2.8vmax;
  line-height: 80%;
}

#footer {
  width: 80vw;
  margin: 0 10vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

#footer img {
  margin: 5vmin;
  max-width: 40vw;
  max-height: 10vh;
}

@media screen and (max-height: 450px) {
 .sidenav {padding-top: 15px;}
 .sidenav a {font-size: 18px;}
}
