body {
  width: 100%;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
}

button:focus { outline:0; }

#header {
  width: 80%;
  height: 50px;
  top: 0;
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 10%;
  z-index: 1;
  background: white;
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.4);
  transition: 0.4s;
}

#header a {
  width: 20%;
  cursor: pointer;
}

#header span {
  width: 5%;
  padding: 10px 0 10px 20px;
  cursor: pointer;
}

.transparent {
  background-color: transparent !important;
  box-shadow: none !important;
  padding: 7.5% 10% !important;
}

#slider {
  margin-top: -1px;
  padding-top: 1px;
  background: url(img/background.svg) repeat center top fixed;
  background-size: 300%;
}

#footer {
  width: 80%;
  margin: 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

#footer img {
  margin: 5%;
  width: 100%;
}

@media screen and (min-width: 800px) {
  body {width: 56.25vh; height: 100vh;}
  * { transition: none; }
}
